[submodule "waypoint-generation"]
	path = waypoint-generation
	url = https://github.com/cornellev/waypoint-generation.git
[submodule "ackermann-jax"]
	path = ackermann-jax
	url = https://github.com/cornellev/ackermann-jax
